<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hi</title>
</head>
<style>
    .caja{
    width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 82, 131, 0.473);
    }
</style>

<body>
<div class="caja">
    <h2 style="background-color: teal;">Jenkins Tomcat SonarQube</h2>
    <p style="background-color: yellow;">changes for bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
</div>
</body>
</html>